body {
    margin: 0; 
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif; 
}

a{
    color: #11999E;
}

.myimage {
    border-radius: 50%;
    height: 200px;
}

.top-cloud {
    width: 200px;
    position: absolute;
    right: 500px;
    top: 100px;
}

.bottom-cloud {
    width: 200px;
    position: absolute;
    left: 400px;
    top: 500px;
}


.top-container {
    position: relative;
    padding-top: 200px;
    background-color: #EAF6F6;
}

.skill-row {
    line-height: 4;
    margin: 100px auto 200px auto;
    text-align: left;
    width: 50%;
}

.C_skill {
    float: left;
    width: 25%;
    margin-right: 30px;

}

.Cplus_skill {
    float: right;
    width: 25%;
    margin-left: 30px;
}


.dev {
    text-decoration: underline;
}