body {
    margin: 0; 
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
}

.myimage {
    border-radius: 50%;
    height: 12.5rem;
}

.top-container {
    position: relative;
    margin: 0;
    padding: 1.5rem;
}

.bottom-container {
    background-color: #11999E;
    margin: 0;
    padding: 1.5rem;
}

.profile {
    width: 50%;
    text-align: left;
    margin: 6.25rem auto 12.5rem auto;
}

.skill-row {
    line-height: 4;
    margin: 6.25rem auto 12.5rem auto;
    text-align: left;
    width: 50%;
}

.C_skill {
    float: left;
    width:20%;
    margin-right: 1.875rem;

}

.Cplus_skill {
    float: right;
    width: 20%;
    margin-left: 1.875rem;
}

.contact-me {
    margin: 3rem;
}

.btn {
    background-color: #11999E;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
    font-size: 1.5rem;
    line-height: 3;
}

.btn:hover {
    color: #11999E;
    background-color: white;
    border: solid;
}

.footer-link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}

.dev {
    text-decoration: underline;
}